#include "twig.dtsi"

&default_kscan {
    col-gpios = <&pro_micro 19 GPIO_ACTIVE_HIGH>, // col 0
                <&pro_micro 18 GPIO_ACTIVE_HIGH>, // col 1
                <&pro_micro 15 GPIO_ACTIVE_HIGH>, // col 2
                <&pro_micro 14 GPIO_ACTIVE_HIGH>, // col 3
                <&pro_micro 16 GPIO_ACTIVE_HIGH>, // col 4
                <&pro_micro 10 GPIO_ACTIVE_HIGH>; // col 5
};

/* OLED on left half */
&pro_micro_i2c {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
    };
};

&{/chosen} {
    zmk,display = &oled;
};
